.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}
.button-container button {
  padding: 0.5rem 1rem;
  background-color: var(--thirty-pr-color);
  margin: 0 1rem;
  width: 100px;
  border: 1px solid var(--ten-pr-color);
  color: var(--sixty-pr-color);
}

.theme-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 2rem;
  width: 2rem;
  background-color: var(--sixty-pr-color);
  border-radius: 50%;
  /* display: none; */
}

.theme-buttons {
  display: none;
  height: 3rem;
  width: 3rem;
  /* background-color: var(--thirty-pr-color); */
  border: 2px solid var(--sixty-pr-color);
  border-radius: 50%;
}

#astronaut-navigation-icon {
  height: 2rem;
  width: 2rem;
  color: var(--ten-pr-color);
}
