/* 
font-family: 'Belanosima', sans-serif;
font-family: 'Comme', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Inconsolata', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Schibsted Grotesk', sans-serif;
font-family: 'Tilt Neon', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: Inconsolata, IBM Plex Mono, Belanosima, Inter, "Helvetica",
    sans-serif;
  font-size: 1rem;
}

/* Root Variables */
/* :root {
  --light-sixty-pr-color: #e1e7e0;
  --light-thrity-pr-color: #2b4560;
  --light-ten-pr-color: #2f6d80;
} */

.App{
    min-height: 100vh;
    background-color: var(--sixty-pr-color);
}

/* Utility Classes */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-text {
  font-size: 3rem;
  font-weight: 700;
}

.subheading-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.normal-text {
  font-size: 1.2rem;
  font-weight: 400;
}
